.button {
  border: none;
  text-transform: uppercase;
  display: block;
  padding: 1rem;
  width: 100%;
  margin-top: 1rem;
  font-size: 14pt;
  font-weight: 200;
}

.clear {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  text-transform: none;
  display: inline-block;
  padding: 0;
  width: 100%;
  margin-top: 0;
  font-size: inherit;
  font-weight: inherit;
}

.primary {
  background-color: var(--color-primary);
  color: white;
}

.primary:hover {
  background-color: var(--color-primary-dark);
}

.primary:disabled {
  background-color: var(--color-primary);
  opacity: 50%;
}

.secondary {
  background-color: var(--color-secondary);
  color: white;
}

.secondary:hover {
  background-color: var(--color-secondary-dark);
}

.secondary:disabled {
  background-color: var(--color-secondary);
  opacity: 50%;
}

.danger {
  background-color: var(--color-danger);
  color: white;
}

.danger:hover {
  background-color: var(--color-danger-dark);
}

.danger:disabled {
  background-color: var(--color-danger);
  opacity: 50%;
}

button:focus:not(:focus-visible) {
  outline: none !important;
}
