.container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  height: 100vh;
  background: rgb(52,152,219);
  background: linear-gradient(-90deg, #3498db 0%, #2980b9 100%);
}