.dialog {
  display: inline-block;
  background-color: white;
  padding: 3rem;
  text-align: center;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.25), 0px 6px 8px -1px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.25), 0px 6px 8px -1px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.25), 0px 6px 8px -1px rgba(0,0,0,0.25);
}