.item {
  font-size: 14pt;
  font-weight: 300;
  margin-bottom: 1rem;
  text-decoration: none;
}

.item:hover {
  opacity: 50%;
  font-weight: 400;
  cursor: pointer;
}

.isSelected {
  font-weight: 400;
}

