@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

ul {
  padding-inline-start: 0;
  list-style-type: none;
}

html, body {
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #1e90ff;
  --color-primary-dark: #1978d8;
  --color-secondary: #7a7a7a;
  --color-secondary-dark: #696969;
  --color-danger: #e71717;
  --color-danger-dark: #be1212;
}